#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.app-container{
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 16px;
}


.sidebar{
  flex: 0 0 340px;
  max-width: 40%;
}


.board-area{
  flex: 1 1 auto;
  min-width: 0;
}


@media (max-width: 768px){
  .app-container{
    flex-direction: column;
  }
  .sidebar{
    max-width: 100%;
    flex: none;
    width: 100%;
  }
}